@import "normalize.scss";
@import "constants.scss";
@import "mediaqueries.scss";
@import "aboutus.scss";
@import "terms.scss";
@import "privacy.scss";
@import "bam.scss";


html {
	height: 100%;
  overflow-x: hidden;
}

body {
	height: 100%;
	font-family: $default-font-family;
  font-size: $base-font-size;
}

///////////// IO ADDITIONS /////////////

//Disabled button
@mixin disabled-button($background){
  background: lighten($background, 15%);
  color: darken(#fff, 10%);
  }

//Links on hover
a:hover {
  color: lighten($navy, 20%);
  text-decoration: none;
}

//Buttons
///Large, medium, small

@mixin buttons($color, $background, $border, $padding){
  color: $color;
  border: $border;
  border-radius: 2px;
  display: inline-block;
  padding: $padding;
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: .5px;
  background: $background;
  transition: all .3s ease-out;
}


////small buttons
.button-small-aqua{
  @include buttons(#fff, $aqua, none, .65em 2em);
}

.button-small-coral{
  @include buttons(#fff, $coral, none, .65em 2em);
}

.button-small-lime{
  @include buttons(#fff, $lime, none, .65em 2em);
}


 /////small buttons hover

.button-small-aqua:hover {
  background: darken($aqua,10%);
}

.button-small-coral:hover {
  background: darken($coral,10%);
}

.button-small-lime:hover {
  background: darken($lime,5%);
}

/////small buttons disabled

.button-small-aqua:disabled{
  @include disabled-button($aqua);
}

.button-small-coral:disabled{
  @include disabled-button($coral);
}

.button-small-lime:disabled{
  @include disabled-button($lime);
  color: #fff;
}

////medium buttons

.button-medium-aqua{
  @include buttons(#fff, $aqua, none, .85em 2.5em);
}

.button-medium-coral{
  @include buttons(#fff, $coral, none, .85em 2.5em);
}

.button-medium-lime{
  @include buttons(#fff, $lime, none, .85em 2.5em);
}

/////medium button hover state

.button-medium-aqua:hover {
  background: darken($aqua,10%);
}

.button-medium-coral:hover {
  background: darken($coral,10%);
}

.button-medium-lime:hover {
  background: darken($lime,10%);
}

/////medium button disabled state

.button-medium-aqua:disabled{
  @include disabled-button($aqua);
}

.button-medium-coral:disabled{
  @include disabled-button($coral);
}

.button-medium-lime:disabled{
  @include disabled-button($lime);
  color: #fff;
}


////large buttons
.button-large-aqua{
  @include buttons(#fff, $aqua, none, 1.5em 3.5em);
}

.button-large-aqua:hover {
  background: darken($aqua,10%);
}

.button-large-coral{
  @include buttons(#fff, $coral, none, 1.5em 3.5em);
}

.button-large-coral:hover {
  background: darken($coral,10%);
}

.button-large-lime{
  @include buttons(#fff, $lime, none, 1.5em 3.5em);
}

.button-large-lime:hover {
  background: darken($lime,10%);
}



////////////////////////////////////////



.slider {
  height: auto;
}


//tcrud
.tcrud {
  th td {
    text-align:center;
  }
}

//carousel
.carousel {
  .slides {
    background: $white;
    border: 1px solid $grey;
    color: $dark-grey;
    li .caption {
      top: 22%;
      left: 5%;
      width: 90%;
    }
    h5.banner, h3.banner {
      left:0;
      padding:3px 20px;
      color: $white;
      background: $aqua;
      top: 5px;
    }
    .circling-wrapper {
      width:70%;
      margin:auto;
      text-align:left;
      border: 1px solid $grey;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      color: $dark-grey;
      height: 75px;
      margin-bottom: 14px;
      display:table;
      p, h6 {
        margin:0;
      }
      span {
        display:table-cell;
        vertical-align:middle;
        width:90%;
        padding-left:15%;
        span {
          padding: 0;
          display:inline;
          width: auto;
        }
      }
      .boldnavy {
        color:$navy;
        font-weight:bold;
      }
      .tabled-row {
        display:table-cell;
        vertical-align:middle;
        text-align:left;
        .btn {
          height: 27px;
          line-height: 28px;
        }
      }
      .icon-holder {
        border-radius: 50%;
        width: 75px;
        background-color:white;
        height: 75px;
        border: 2px solid $aqua;
        margin-left:-38px;
        .material-icons, .preloader-wrapper {
          margin-left: 23px;
          margin-top: 23px;
        }
        .preloader-wrapper {
          margin-left: 18px;
          margin-top: 18px;
        }
        .icon {
          height: 65%;
          background-repeat: no-repeat;
          position: relative;
          top: 16%;
          left: 26%;
        }
      }
    }
  }

  #overview {
    .row {
      margin-bottom: 0;
    }
    .caption {
      .row {
        height: 260px;
        top: -25px;
        position: relative;
      }
      #map-canvas {
        margin-top:18px;
      }
      .content-art {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 10px;
        text-align: center;
        #map-canvas {
          float: left;
        }
      }
    }
  }
  #articles {
    #post-data {
      .content-area {
        position: relative;
        top: 80px;
        width: 90%;
        padding: 3% 8%;
        color: black;
        border-radius: 20px;
        #author {
          margin-left: -40%;
          font-style: italic;
        }
        #postType {
          font-style: italic;
        }
        #content {
          text-align: center;
          margin-top: 8px;
        }
      }
    }
    #read-full-button {
      width: 18vmax;
      height: 3vmax;
      background-color: #F26432;
      color: #FFFFFF;
      line-height: 3vmax;
      margin-top: 20px;
      position: relative;
      left: 0;
      opacity: 1 !important;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      font-size: 1.2vmax;
    }
  }

  .indicators {
    .indicator-item.active {
      background-color: $lime;
    }
  }
}


.input-field input[type=search]:focus {
     border-bottom: 1px solid $aqua !important;
     box-shadow: 0 1px 0 0 $light-grey;
}
.main-search {
  color:$white;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: $aqua !important;
}

header {
	margin-bottom: 80px;
}

a {
	color: $navy;
}

nav.opaque {
  background-color:rgba(87,195,194, 1);
  box-shadow: initial;
  height: 65px;
}

.navbar-fixed {
  z-index:10;
}
#sidenav-overlay {
  z-index:9;
}
.side-nav {
  background-color: rgba(87,195,195,.99);
  color: $white;
  a {
    color: $white;
  }
}

.page-wrap {
  min-height: 100%;
  min-height: calc(100% - 215px);;
}
.page-wrap:after {
  content: "";
  display: block;
  height: 10px;
}
.user-header img {
    padding-top: 10px;
}
.intro {
    background-color: $aqua;
}
.icon-ref {
  border: 2px solid $aqua;
  width:35px;
  background-color: $aqua;
  vertical-align: middle;
  margin: 0 15px 0 5px;
  padding:1px;
  color: $white;
}
.userpanel {
    background-color: #CCD67F !important;
    font-family: helvetica neue;
    margin-top: 15px;
    padding: 1px;
}
.userpanel h4 {
    text-transform: uppercase;
    text-align: center;
}
.intro p {
    color: #FFFFFF;
    margin-top: 5px;
}

.userpanel h4 {
    text-transform: uppercase;
    text-align: center;
}
.intro p {
     color: #FFFFFF;    
 }

#FindYourNeighborhoodBox {
	width: 100%;
	margin-bottom: 260px;

}

.backgroundbox {
	height: 35%;
	width: 100%;
	background: rgba(255, 255, 255, .85);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


#addressheader {
	position: relative;
	background: rgba(58, 98, 152, 1);
	text-align: left;
	color: $white;
	font-family: $medium;
	font-size: 20px;
	letter-spacing: 1.5px;
	margin: 0px;
	padding: 22px 20px 20px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

	
}
.screen-length {
  width:105vw;
  position:relative;
  img.responsive-img {
    width:100%;
  }
}
.sl-overflow {
  width:100%;
  overflow: hidden;
  :root {

  }
}

.enteraddress:before{
    content: "";
    display: block;
    padding-top: 90px;
}
.addressheader{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: $white;
}

.addressheader div {
   display: table;
   width: 90%;
   height: 90%;
}

.cta2bottom {
    overflow: hidden;
    margin-top: 4em;
    font-size: 12px;
}
.bottompagecta {
    background-color: white;
    color: grey;
    border: 2px solid #386099;
    text-align: center;
    margin-top: -30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    line-height: 25px;
    max-height: 150px;
    min-height: 150px;
    max-width: 100%;
}
#cta2title {
    color: navy;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.cta2 {
    pointer-events: none;
    background-color: gold;
}

#or {
	font-family: $bold;
	color:$grey;
	margin-top: -15px;

}

#searchmap {
	background-color: $white;
	color: $grey;

}

.list-circle {
  list-style-type: circle;
  li {
    list-style-type: circle;
  }
}
.modal {
  h4 {
    color: black;
    font-size: 30px;
    text-align: left !important;
  }
  .btn {
    margin-right: 15px !important;
  }
}
.SearchByMapModalHeader {
	position: relative;
	background-color: $navy;
	text-align: left;
	color: $white;
	font-family: $medium;
	font-size: 20px;
	letter-spacing: 1.5px;
	margin-top: -30px;
	margin-left: -30px;
	margin-right: -31px;
	padding: 22px 20px 20px 20px;
}



.cta1{
	background-color: $lime;
	text-align: center;
	width: 95px !important;
	height: 95px !important;
	margin-top: -100px;
  pointer-events: none;

}
.cta1:hover {
	background-color: $lime;
}


#ctainside {
	background-color: $white;
	margin-bottom: -20px;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 20px;
	width: 100%;
}

.buzzwords {
	font-size: 18px;
  letter-spacing: 1.5px;
	font-family: $medium;
	color: $black;
	margin-top: 10px;
  background-color: $aqua;
  color: $white;
  font-family: $bold;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  width: 45%;

  box-shadow: 1px 6px 10px -5px rgba(133,133,133,0.73);
}

.ctablurb {
	font-size: 14px;
	color: $dark-grey;

}

.ctablurb:nth-of-type(4) {
  font-size: 14px;
  color: $dark-grey;
  margin-bottom: 100px;

}
//invite modal

#invitemodal {
  h4 {
    font-size: 30px;
  }
  .modal-content a:nth-of-type(1) {
    float: center;
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    color: $white !important;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 100px;
    background-color: $aqua;
    box-shadow: 1px 6px 10px -5px rgba(133,133,133,0.73)
  
  }
  .modal-content a:nth-of-type(2) {
    float: center;
    max-width: 100%;
    min-width: 100%;
    padding: 8px;
    color: $white !important;
    margin-top: 5px;
    margin-left: 20px;
    background-color: $aqua;
    box-shadow: 1px 6px 10px -5px rgba(133,133,133,0.73)
  }
  .modal-content div {
    margin-top: 20px !important;
  }
}

//cards - neighbors
.invite-card {
  background-color: $aqua;
}

//cards - posts

.post_sub_header:nth-of-type(1) {
  @extend .post_sub_header:nth-of-type(2);
}

.post_sub_header:nth-of-type(2) {
  background-color: $lime;
  color: $white;
  font-family: $bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  position: relative;
  max-width: 22%;
  box-shadow: 1px 6px 10px -5px rgba(133,133,133,0.73);
}

.post_sub_header:nth-of-type(3) {
  @extend .post_sub_header:nth-of-type(2);
}

#postssuper {
  #post-type-switch-container {
    .col {
      text-align: center;
      width: 20%;
      padding: 0 0.5%
    }
  }
}

#postssuper > p {
	color: grey;
	font-family: $default-font-family;
}

#postssuper h5 {
	position: relative;
	background-color: $aqua;
	text-align: left;
	color: $white !important;
	font-family: $thin;
	font-size: 20px;
	letter-spacing: 1.5px;
	margin: 0px;
	padding: 15px 10px 10px 10px;
}

#postssuper h5 a {
  color: $white !important;
}

.unfocus {
	color: $dark-grey;
	font-size: 12px;
	letter-spacing: 1.5px;
}

.unfocused {
	@extend .unfocus; 
	color: $dark-grey
}

.card-action > a {
	@extend .unfocus;
	color: $navy;
}

//main-review post page

.review-main h5 {
  position: relative;
  background-color: $lime !important;
  width: auto;
  text-align: left;
  color: $white;
  font-family: $medium !important;
  font-size: 3.0vw;
  letter-spacing: 1.5px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  padding: 10px 10px 10px 10px; 
  
}

.review-main .card-content {
  text-indent: 25px;
  font-size: 14px;
  font-family: $default-font-family;
  margin-bottom: 10px;
}

//charts

#legendholder table {
  width: 0;
}

input[type=range]+.thumb {
  background: $lime;
}


/*************************/
/* BEGIN SLIDER COLORING */
/*************************/
//thumb for sliders
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  background: $lime;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  background: $lime;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  background: $lime;
}
//track for sliders
input[type=range]::-webkit-slider-runnable-track {
  background: $lime;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $lime;
}

input[type=range]::-moz-range-track {
  background: $lime;
}

input[type=range]::-ms-fill-lower {
  background: $lime;
}
input[type=range]:focus::-ms-fill-lower {
  background:  $lime;
}
input[type=range]::-ms-fill-upper {
  background: $lime;
}
input[type=range]:focus::-ms-fill-upper {
  background: $lime;
}
/*************************/
/*  END SLIDER COLORING  */
/*************************/

//neighborhood page
.user-stub > img {
	max-width: 10%;
}

.neighborhood-name {
	position: relative;
	background-color: $aqua;
	max-width: 60%;
	width: auto;
	text-align: left;
	color: $white;
	font-family: $medium;
	font-size: 3.0vw;
	letter-spacing: 1.5px;
  margin-top: -5.1%;
  padding: 12px 10px 10px 10px;
  padding-left: 50px;
	
}


#location-confirm .btn {
  background-color: $coral;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

#location-confirm p {
  font-size: 16px;
}

.introsub .responsive-img {
  max-width: 45%;
  border: 2px solid $light-grey;
  background-color: $light-grey;
}
 .introsub {
    background-color: $white;
    height: 300px;
    z-index: -1;
}
.neighborhoodsubscribers h1 {
    font-size: 40px;
    letter-spacing: 2px;
    font-family: $thin;
    padding-top: 30px;
    color: $white;
}
.neighborhoodsubscribers {
  background-color: $aqua;
  padding-bottom: 120px;
}

//property page

.homes-stats .switch label input[type=checkbox]:checked+.lever:after {
    background-color: $aqua !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: $aqua !important;
}

.home-stats .switch label input[type=checkbox]:checked+.lever {
    background-color: $aqua !important;
}


#slider {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  min-width: 150px;

} 
.neighborhood-button {
  display: inline-block;
  background-color: $aqua;
  text-transform: uppercase;
  color: $white !important;
  font-family: $light;
  font-size: 1.8vmax;
  padding-top: 20px;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 11%;
  Padding-right: 10%;
  text-align: center;
  box-shadow: 1px 6px 10px -5px rgba(133,133,133,0.73);
  a {
    color: $white !important;
    margin-top: 10px;
  }
}
.hide-overflow {
  overflow:hidden;
}
.tendril {
  display: inline-block;
  background-color: $lime;
  text-transform: uppercase;
  color: $white !important;
  font-family: $light;
  font-size: 1.7vmax;
  margin-bottom: 50px;
  top: 35px;
  padding-top: 20px;
  width:100%;
  padding-bottom: 20px;
  padding-left: 11%;
  Padding-right: 10%;
  position: relative;
  text-align: center;

  box-shadow: 1px 6px 10px -5px rgba(133,133,133,0.73);
}

.home-stats {
  border: 1px solid $grey;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.home-stats h5 {
  font-size: 14px;
  margin-top: 8px !important;
  margin-bottom: -5px !important;
  margin-left: 50px;
}
.home-stats .btn {
  max-width: 100%;
  min-width: 100%;
  float: center;
  margin-top: 5px;

}

.home-stats .btn:nth-of-type(1) {
  margin-top: 25px;

}
.home-stats .btn:hover {
  background-color: $aqua;
}

.claimhomebtn {
    font-family: $default-font-family;
    text-transform: uppercase;
    float: right;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px;
    position: relative;
    text-align: center;
    background-color: $coral;
    width: 270px;
    height: 40px;
    font-size: 14px;
    -webkit-box-shadow: 1px 6px 10px -5px rgba(133, 133, 133, 0.73);
    -moz-box-shadow: 1px 6px 10px -5px rgba(133, 133, 133, 0.73);
    box-shadow: 1px 6px 10px -5px rgba(133, 133, 133, 0.73);
}
.claimhomebtn:hover {
    color: $white !important;
    background-color: $coral !important;
}

.propertyheader h1 {
    margin-top: 30px;
    font-family: $medium;
    font-size: 30px;
    color: white;
    margin-left: 30px;
}
.propertyheader h3 {
    font-size: 12px;
    color: white;
    margin-top: -20px;
    margin-bottom: 100px;
    margin-left: 35px;
}

.cta2bottom {
    margin-top: 70px;
    overflow: hidden;
    font-size: 14px;

}
.bottompagecta {
    background-color: white;
    color: grey;
    border: 2px solid #386099;
    text-align: center;
    margin-top: -30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    line-height: 25px;
    max-height: 150px;
    min-height: 150px;
    max-width: 100%;
}
#cta2title {
    color: $navy;
    font-family: $medium;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.cta2 {
    pointer-events: none;
    background-color: $yellow;
}

//guess page

.propertyheader .home-stats {
  background-color: $white;
  margin-bottom: 10px;
  width: 100%;
}

.propertyheader #property-streetview {
  height: 290px !important;
}

.soldfor {
  margin-left: 20px;
  position: relative;
  background-color: $lime;
  width: auto;
  text-align: center;
  color: $white;
  font-family: $medium !important;
  margin-top: 20px !important;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 35px;
  a {
    position: relative;
    background-color: $coral;
    width: auto;
    color: $white;
    font-family: $medium !important;
    letter-spacing: 1.5px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

#prigueform {
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $medium;
    text-align: center;
    margin-bottom: 10px;
}

#prigueform {
    margin-left: 60px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 70px;
  background-color: $lime;
   -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

}

#prigueform input {
color: $grey;
margin-top: 15px;
  margin-left: 0px;
  background-color: $white;
  padding-left: 10px;
  padding-right: 10px;
}

#prigueform button {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 28px;
  padding-right: 28px;
}

#guesses {
  padding-left: 50px; 
}

#guesses p {
  font-family: $bold;
  font-size: 20px;
}

//subscriber profile 
.bio {
  font-family: $default-font-family;
  font-size: 12px;
  text-indent: 25px;
  margin-bottom: 20px;
}

.bio p {
  font-size: 20px;
  font-family: $medium;
  color: $navy;
  letter-spacing: 2.9px;
  text-transform: uppercase;
}

//subscriber profile 

 .subscriberinfo {
    background-color: $aqua !important;
    font-family: $default-font-family;
    box-shadow: none;
    text-align: center;
    margin-top: -10px;
    }

.claimhomebtn:hover {
    color: $white !important;
    background-color: #F26432 !important;
}
.propertyheader h1 {
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}
.propertyheader h3 {
    font-size: 12px;
    color: white;
    margin-top: -25px;
    margin-bottom: 5px;
}


.subscriberinfo a {
  color: $really-dark-grey;
}
.subscriberinfo .chip {
    background-color: $aqua;
}
.subscriberinfo button {
    min-width: 100%;
    max-width: 100%;
    white-space: normal;
    text-transform: none;
    margin-top: 15px;
}
.subscriberinfobtn {
    font-family: $light;
    padding: 5px;
    position: relative;
    text-align: center;
    background-color: #F26432;
    width: 280px;
    height: 50px;
    font-size: 14px;
    position: relative;
    text-transform: none;
    margin-top: 10px;
}
.subscriberinfobtn a {
    color: $white !important;
    margin-top: 10px;
}

 .subscriber-header img {
    max-width: 30vw;
    padding-top: 10px;
}
.intro {
    background-color: $aqua;
}
.subscriberpanel {
    background-color: #CCD67F !important;
    margin-top: 50px;
    font-family: $default-font-family;
    text-align: center;
}
.subscriberpanel h4 {
    text-transform: uppercase !important;
    letter-spacing: 2.5px;
    text-align: left;
}
.white-text p {
  font-family: $thin;
  text-align: left;
  margin-top: -10px;
}
.subscribercontact .material-icons {
    color: grey;
}

.subscriberinfo .material-icons {
  pointer-events: none;
}
.subscriberinfo a {
  color: $really-dark-grey;
}
.subscriberinfo .chipx {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: $aqua;
    i.material-icons {
      float: right;
      font-size: 16px;
      line-height: 32px;
      padding-left: 8px;
    }
}
.subscriberinfo button {
    min-width: 100%;
    max-width: 100%;
    white-space: normal;
    text-transform: none;
    margin-top: 15px;
}
.subscriberinfobtn {
    font-family: $light;
    padding: 5px;
    position: relative;
    text-align: center;
    background-color: #F26432;
    width: 280px;
    height: 50px;
    font-size: 14px;
    position: relative;
    text-transform: none;
    margin-top: 10px;
}
.subscriberinfobtn a {
    color: $white !important;
    margin-top: 10px;
}

.subscriberinfo button {
    min-width: 100%;
    max-width: 100%;
    white-space: normal;
    text-transform: none;
    margin-top: 15px;
}
.subscriberinfobtn {
    color: $white !important;
    letter-spacing: 1px;
    font-family: $medium;
    padding: 5px;
    position: relative;
    text-align: center;
    background-color: #F26432;
    width: 280px;
    height: 50px;
    font-size: 14px;
    position: relative;
    text-transform: none;
    margin-top: 10px;
}

.subscriberinfobtn a {
  color: $white;
}
.subscriberinfobtn:nth-of-type(1){
  margin-top: 20px;
}
.subscriberinfobtn:hover {
    background-color: $coral !important;
}


 .subscriber-header img {
    max-width: 70%;
    height: auto;
    
}

.subscriber-header {
  margin-top: 50px;
  padding-top: 40px;
}

 .subscriberstats .collection-item {
    margin-top: 15px;
}

.subscriberstats {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}
.staticon {
    background-color: $yellow !important;
    position: fixed;
    z-index: 1;
    margin-top: -10px;
}

.collection-item .stats {
    padding-left: 10px;
    color: $navy !important;
    font-size: 16px;
    margin-bottom: -10px;
}
.subscriberstats .title {
    font-size: 16px;
    background-color:$aqua;
    color: white;
    font-family: $bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 10px;
    margin-left: -50px;
    position: relative;
    box-shadow: 1px 6px 10px -5px rgba(133, 133, 133, 0.73);
}
.social-media {
  margin-top: -20px;
}

//neighborhood home tools
.home-tools-box {
  overflow:visible;
  border-style:none;
  font-family: "HelveticaNeue", "Helvetica", "Arial";
  .icon-ref {
    margin: 0;
  }
  .text-icon {
    font-weight: bold;
    padding: 4px;
    display: inline;
    display: inline;
    text-align: center;
    vertical-align: middle;
  }
  .row {
    margin-bottom:5px;
  }
  #pros-text {
    text-transform: none;
    font-size: 134%;
    font-weight: 600;
    padding-left: 2px;
    padding-bottom: 1px;
  }
  .collection-item {
    text-align: center;
    color:#757575;
  }
  a.collection-item {
    box-sizing:border-box;
    padding-left:0;
    color:#757575;
    text-align:left;
    font-weight: bold;
    width:100%;
    border-bottom: none;
    display: inline-block;
    border-collapse: collapse;
  }
}


//modal for subscriber cta

.SearchByMapModalHeader .modal-close a {
  background-color: $navy !important;
}

#modal-SubListingProposal p, #modal-SubMarketAnalysis p {
  color: $really-dark-grey;
  font-family: $default-font-family;
  padding-top: 20px;

}

.modal-footer {
  .btn {
    color: $white !important;
    background-color: $coral !important;
  }

  lo.btn:hover {
    color: $white !important;
    background-color: $coral !important;
  }
}
/* would you like to visit this neighborhood */
#nav-choice-modal {
  h4 {
    font-size: 30px;
  }
  .btn {
    margin-right: 15px;
  }
}

//user card
.subscriberpanel {
    background-color: #CCD67F !important;
    margin-top: 30px;
    font-family: $default-font-family;
    text-align: center;
}
.subscriberpanel h4 {
    text-transform: uppercase !important;
    letter-spacing: 2.5px;
    text-align: left;
}
.white-text p {
  font-family: $thin;
  text-align: left;
  margin-top: -10px;
}
.subscribercontact .material-icons {
    padding: 10px;
    color: grey;
}


//user card other
.neighborhoodsubscribers .responsive-img {
    max-width: 40%;
    border: 1px solid $light-grey;
    background-color: $light-grey;
}
.subscribercta {
max-height: 270px;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 17%, #ffffff 69%, #ffffff 69%, #386099 69%, #386099 100%, #ffffff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(17%, #ffffff), color-stop(69%, #ffffff), color-stop(69%, #ffffff), color-stop(69%, #386099), color-stop(100%, #386099), color-stop(100%, #ffffff));
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #ffffff 17%, #ffffff 69%, #ffffff 69%, #386099 69%, #386099 100%, #ffffff 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 17%, #ffffff 69%, #ffffff 69%, #386099 69%, #386099 100%, #ffffff 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 17%, #ffffff 69%, #ffffff 69%, #386099 69%, #386099 100%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    background-color: white;
    color: grey;
    border: 3px solid $navy;
    text-align: center;
    padding-top: 50px;
    margin-top: -50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    h5 {
      text-transform: uppercase;
      color: $navy;
      letter-spacing: 1.5px;
      font-family: $medium;
    }
    h6 {
      margin-top: 6em;
      a {
        color: white;
        text-transform: uppercase;
        font-size: 18px;
        font-family: $thin;
        letter-spacing: 1px;
      }
    }
}

/* more searching */
.main-output {
 opacity:1;
 overflow-x:hidden;
 background-color: $light-grey;
 max-height: 45vh;
  li {
    min-height:15px;
    text-align:left !important;
    font-weight:bold;
    text-transform: uppercase;
    margin-left: 15px;
    vertical-align: bottom;
    a {
      display: inline-block !important;
      margin-bottom: 5px;
      width: 95%;
      height:100%;
      text-transform: initial;
      font-weight: initial;
      display: inline-block;
      color: $light-grey;
      background-color: white;
      .header {
        display: block;
        font-size: 1.5vmax;

      }
      .footer {
        display: block;
        color: $grey !important;
        font-size: 1.0vmax;
        background-color: inherit;
        padding: 0;
        text-align: left;
      }
    }
  }
}
.big-search-bar {
 .searchbox {
    width: 90%;
 }
 .temp-icon-search {
  color: #656565;
  font-weight:normal;
  background-color: #ededed;
  padding: 3px;
  border-radius:1em;
  margin-left: 5px;
 }
}
.address-search {
  .full-width {
    width: 50vw;
  }
}
.socialmedia-icons {
  min-height: 40px;
  margin-bottom: -50px;
}

#location-confirm {
  width: 90vw;
  text-align: center;
  top:90px;
  left:5%;
  position: fixed;
  border-bottom-right-radius:2em;
  border-bottom-left-radius:2em;
  z-index: 10;
  box-shadow: 0px 4px 15px $grey;
}


//spanner
.head-fix {
	margin-top: -80px;
  padding: 0;
}


.spinner-middle {
  position:absolute;
  margin-left:10px;
  margin-top:8px;
  color:$lime;
}
.lime-border {
  border-color: $lime;
}

//Back to Top

#back-top {
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 0;

  a {
    width: 108px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;

    transition: 1s;

    &:hover {
      color: #000;
      span {
        background-color: #777;
      }
    }
  }
  span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    margin-bottom: 7px;
    background: #ddd no-repeat center center;
    
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
  }
}

.dashboardOverLay {
  position: absolute;
  z-index: 3;
  filter: alpha(opacity = 50);
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%; height: 100%;
  background-color: $white;
  padding-top:33%;
  color: $black;}


//user dashboard
.hook {
  .bluebar {
    color: $white;
    background-color: $aqua;
    padding: 15px 15px !important;
    font-size: large;

  }
  .encapsuled {
    border: thin solid $grey;
    vertical-align:middle;
    padding: 16.5px 10px !important;

  }
}

.searchwrap {
  .address-search {
    display: inline;
    float:left;
    width: 100%;
    height:100%;
  }
  .material-icons {
    vertical-align: middle;
  }
  input[type='search'] {
    border: 1px solid $grey;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: 1px;
    text-indent: 15px;

  }
  label {
    display:inline-block;
    max-height: 46px;
    white-space:nowrap;
    color: $white;
    font-weight: bold;
    overflow: hidden;
    float: left;
    width: 20%;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    padding: 12px 5px;
    margin-right: 0;
    background-color: $navy;
    span {
      display: inline-block;
    }
  }
}
.help-header {
  width: 100%;
  color: white;
  background-color: $aqua;
  font-size: 1.25em;
  letter-spacing: .25px;
  padding-left: 13px;
  padding-right: 13px;
  line-height: 300%;
  a.tooltipped {
    color: white;
  }
}

.embolden-link {
  font-size: 1.23em;
  font-weight: bold;
}

.encapsulated {
  border-left: 0px;
}

.profile-photo {
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.span-full {
  width: 100%;
}

.info-category {
  font-size: 1.0em;
  text-indent: 10px;
  border-right: 1px solid #d0d0d0;
  /* font-weight: 600; */
  letter-spacing: 1.7px;
  color: rgb(120, 120, 120);
}

.info-info {
  vertical-align: middle;
  height: 100%;
  /* text-align: center; */
  text-indent: 20px;
}

.biobox {
  text-indent: 10px;
  margin-top: 15px;
  border: 1px solid #d0d0d0;
  color: #a0a0a0;
}

div.map-footer {
  border: 1px solid #d0d0d0;
  line-height: 400% !important;
  margin-right: auto !important;
  margin-left: auto !important;
  vertical-align: middle;
  .embolden-link {
    vertical-align: middle;
  }
}

#footer-hood-name {
  line-height: 350%;
  font-size: 1.2em;
  margin: 0 0 0 0;
  vertical-align: middle;
  height: 100%;
}

.map-footer h6 {
  font-size: 1.2em;
  display: inline;
  vertical-align: middle;
}


@media only screen and (max-width: 600px) {
  .carousel {
    margin-top: 20px;
  }
  .home-tools-box {
    .col.s3 {
      width: auto;
    }
    .col.s9 {
      padding: 0;
    }
  }
  #overview {
    .caption {
      .row {
        top: 0 !important;
      }
    }
  }
  .main-output {
   li {
     a {
        .header {
          font-size: 12px;
        }
        .footer {
          font-size: 12px;
        }
      }
    }
  }
}
@media only screen and (min-width: 601px) {
  .home-tools-box {
    .row {
      width: 150%;
    }
    .col.s9 {
      padding-left: 0;
    }
  }
  .main-output {
   li {
     a {
        .header {
          font-size: 12px;
        }
        .footer {
          font-size: 12px;
        }
      }
    }
  }

}
@media only screen and (min-width: 993px) {
  .home-tools-box {
    .row {
      //width: 100%;
    }
    .col.s3 {
      width: 50px;
    }
    .col.s9 {
      padding-left: 10px;
    }
  }
}
@media only screen and (min-width: 7660px) {
  .screen-length {
    left: calc(350px - 45vw);
    .responsive-img {
      width:105%;
      max-width: 105%;
    }
  }
  .neighborhood-name {
    max-width: 97%;
    margin-left: calc(430px - 45vw);
  }
  
  .container {
    margin: 0 auto;
    max-width: 3281px;
  }
}

@media only screen and (max-width: 992px) {
  .modal {
    top:0 !important;
    width:99%;
    max-height:99%;

  }
  .side-nav {
    .main-output {
      min-height: 100%;
      max-width:100%;
      li {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

/*************************FRONT PAGE ****************************************/

/* line 48, ../resources/css-scss/site.scss */
.xcontainer {
  width: 100%;
}
/* line 50, ../resources/css-scss/site.scss */
.xcontainer .row {
  margin-left: 0;
  margin-right: 0;
}

/*------------------------------------*\
    $MENU
\*------------------------------------*/
/* line 123, ../resources/css-scss/site.scss */
/* line 125, ../resources/css-scss/site.scss */

/* line 128, ../resources/css-scss/site.scss */
.menu li > a {
  display:initial;
  border-right: 1px solid #386099;
  padding: 0px 15px;
  color: #ffffff;
  transition: .2s;
}
/* line 132, ../resources/css-scss/site.scss */
.menu li > a:hover {
  opacity: .8;
  background-color: transparent;
}

/* line 139, ../resources/css-scss/site.scss */
.menu li:last-child {
  position: relative;
  border-right: 0;
}

/* line 150, ../resources/css-scss/site.scss */
.menu li:nth-child(3) > a{
  border-right: 0;
}
@media screen and (min-width: 640px) {
  /* line 148, ../resources/css-scss/site.scss */
  .menu-top li {
    display: table-cell;
  }
}
@media screen and (max-width: 640px) {
  /* line 159, ../resources/css-scss/site.scss */
  .menu-top li:last-child {
    display: block;
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (min-width: 640px) {
  /* line 146, ../resources/css-scss/site.scss */
  .menu-top {
    display: table;
    float: right;
  }
}

/*------------------------------------*\
    $SEARCH
\*------------------------------------*/
/* line 183, ../resources/css-scss/site.scss */
.search {
  border-radius: 10px;
  background-color: #ededed;
  height: auto;
  margin-bottom: 0;
}
/* line 192, ../resources/css-scss/site.scss */
.search--small {
  min-width: 170px;
  padding: 2px 5px !important;
  font-size: 13px;
}
/* line 197, ../resources/css-scss/site.scss */
.search--large {
  padding: 10px !important;
  font-size: 20px !important;
  color: #a9a9a9;
}
@media screen and (min-width: 640px) {
  /* line 197, ../resources/css-scss/site.scss */
  .search--large {
    font-size: 22px !important;
  }
}
/* line 208, ../resources/css-scss/site.scss */
.search__button {
  position: absolute;
  top: 20px;
  right: 10px;
  height: auto;
  border: 0;
  outline: 0;
  background-color: transparent;
}
/* line 217, ../resources/css-scss/site.scss */
.search__button .fa {
  color: #656565;
  font-weight: normal;
  height: auto;
}
/* line 222, ../resources/css-scss/site.scss */
.search__button:focus {
  background-color: transparent;
}
/* line 227, ../resources/css-scss/site.scss */
.search__button--large {
  top: 5px;
  right: 20px;
}
/* line 230, ../resources/css-scss/site.scss */
.search__button--large .fa {
  font-size: 30px;
}

/* line 236, ../resources/css-scss/site.scss */
input[type="search"] {
  border-radius: 10px;
  background-color: #ededed;
  height: auto;
  margin-bottom: 0;
  border-bottom: none;
  color: #a9a9a9;
  box-sizing: border-box !important;
}
/* line 248, ../resources/css-scss/site.scss */
input[type="search"]:focus {
  border-bottom-color: $aqua !important;
  box-shadow: 0 1px 0 0 $aqua !important;
}

/*------------------------------------*\
    $FORM-SECTION
\*------------------------------------*/
/* line 265, ../resources/css-scss/site.scss */
.form-section {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 640px) {

  /* line 265, ../resources/css-scss/site.scss */
  .form-section {
    padding-right: 0;
    padding-left: 0;
  }
}

/* line 278, ../resources/css-scss/site.scss */
.col.text-init {
  background-color: #ffffff;
  padding: 20px 20px 20px 40px;
}
@media screen and (min-width: 640px) {
  /* line 278, ../resources/css-scss/site.scss */
  .col.text-init {
    padding-left: 60px;
  }
}
/* line 286, ../resources/css-scss/site.scss */
.col.text-init h1 {
  font-size: 21px;
  color: #cdd57e;
  line-height: 1.1;
}
/* line 291, ../resources/css-scss/site.scss */
.col.text-init h1 span {
  font-weight: bold;
  color: #386099;
}
@media screen and (min-width: 640px) {
  /* line 286, ../resources/css-scss/site.scss */
  .col.text-init h1 {
    font-size: 33px;
  }
}

/* line 302, ../resources/css-scss/site.scss */
.find {
  position: relative;
  display: inline-block;
  padding: 20px;
  min-width:100%;
  color: #ffffff;
  text-align: center;
  background-color: #386099;
  transition: .2s;
  font-size: 15px;
  cursor: pointer;
}
/* line 314, ../resources/css-scss/site.scss */
.find:hover {
  color: #ffffff;
  background-color: #386099;
}
/* line 318, ../resources/css-scss/site.scss */
.find:focus {
  color: #ffffff;
}
/* line 322, ../resources/css-scss/site.scss */
.find--active::before {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -15px;
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #386099;
  transition: .2s;
}
/* line 337, ../resources/css-scss/site.scss */
.find--active:hover::before {
  border-top-color: #386099;
}

/* line 343, ../resources/css-scss/site.scss */
.find--base {
  background-color: $aqua;
}
/* line 345, ../resources/css-scss/site.scss */
.find--base:hover {
  color: #ffffff;
  background-color: #44bcb0;
}
/* line 351, ../resources/css-scss/site.scss */
.find--base.find--active:hover::before {
  border-top-color: #44bcb0;
}
/* line 355, ../resources/css-scss/site.scss */
.find--base.find--active::before {
  border-top-color: $aqua;
}

/* line 361, ../resources/css-scss/site.scss */
.js-browser-map {
  display: none;
}
.browse-map {
  padding: 15px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  border-radius: 30px;
  background-color: $aqua;
  transition: .2s;
}
/* line 372, ../resources/css-scss/site.scss */
.browse-map:hover {
  color: #ffffff;
  background-color: #44bcb0;
}
/* line 376, ../resources/css-scss/site.scss */
.browse-map .fa {
  float: right;
  margin: 0 15px 0 0;
  font-size: 30px;
}

/*------------------------------------*\
    $REAL-VALUE
\*------------------------------------*/
/* line 395, ../resources/css-scss/site.scss */
.bg-solid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 640px) {
  .find {
    font-size:15px;
  }
  .bg-solid {
    width: 70%;
  }
}

/* line 405, ../resources/css-scss/site.scss */
.bg--base {
  background-color: $aqua;
}

/* line 408, ../resources/css-scss/site.scss */
.bg--secondary {
  background-color: #386099;
}

/*------------------------------------*\
    $BLOCK-SOLID
\*------------------------------------*/
/* line 423, ../resources/css-scss/site.scss */
.block-solid {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 428, ../resources/css-scss/site.scss */
.block-solid.col {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 640px) {
  /* line 423, ../resources/css-scss/site.scss */
  .block-solid {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 436, ../resources/css-scss/site.scss */
  .block-solid.col {
    padding-left: 0;
    padding-right: 0;
  }
}
.block-image {
  max-width:100%;
}
/* line 441, ../resources/css-scss/site.scss */
.block-solid p {
  margin-top: 0;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  /* line 441, ../resources/css-scss/site.scss */
  .block-solid p {
    font-size: 22px;
  }
}

/* line 454, ../resources/css-scss/site.scss */
.big-title {
  font-size: 55px;
  line-height: 0.9em;
  font-weight: bold;
}
@media screen and (min-width: 640px) {
  /* line 454, ../resources/css-scss/site.scss */
  .big-title {
    font-size: 75px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 454, ../resources/css-scss/site.scss */
  .big-title {
    font-size: 110px;
  }
}

@media screen and (min-width: 1024px) {
  /* line 468, ../resources/css-scss/site.scss */
  .col.large-pleft-150 {
    padding-left: 150px;
  }

  /* line 471, ../resources/css-scss/site.scss */
  .col.large-pright-150 {
    padding-right: 150px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 481, ../resources/css-scss/site.scss */
  .large-pleft-150 {
    padding-left: 100px;
  }

  /* line 484, ../resources/css-scss/site.scss */
  .large-pright-150 {
    padding-right: 100px;
  }
}
/*------------------------------------*\
    $AGENTS
\*------------------------------------*/
/* line 499, ../resources/css-scss/site.scss */
.agents {
  min-height: 500px;
  background-image: url("https://s3-us-west-2.amazonaws.com/stage-zavvie-static/images/image-agents.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
@media screen and (min-width: 640px) {
  /* line 499, ../resources/css-scss/site.scss */
  .agents {
    background-position: center top;
  }
}

/* line 510, ../resources/css-scss/site.scss */
.col.text-agents {
  margin-top: 250px;
  padding: 20px 40px;
  background-color: #ffffff;
  font-size: 18px;
}
/* line 515, ../resources/css-scss/site.scss */
.col.text-agents p {
  color: #282f38;
}
@media screen and (min-width: 640px) {
  /* line 510, ../resources/css-scss/site.scss */
  .col.text-agents {
    margin-top: 100px;
    padding: 40px 40px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 510, ../resources/css-scss/site.scss */
  .col.text-agents {
    padding: 40px 100px;
  }
}

/*------------------------------------*\
    $CTA-BLOCK
\*------------------------------------*/
/* line 539, ../resources/css-scss/site.scss */
.cta-block {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
/* line 544, ../resources/css-scss/site.scss */
.cta-block p {
  font-size: 28px;
  color: #282f38;
}

/* line 550, ../resources/css-scss/site.scss */
.cta {
  display: inline-block;
  padding: 10px 100px;
  background-color: #f26432;
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  transition: .2s;
  font-size: 18px;
}
/* line 561, ../resources/css-scss/site.scss */
.cta:hover {
  color: #ffffff;
  background-color: #f0521a;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #282f38;
  text-align: center;
}
.footer .menu--footer li {
  display: block;
  float: none;
}
.footer .menu--footer li > a {
  line-height: 2.5;
  border-right: none;
}

#footer-button {
	background-color: $aqua;
	line-height: 1.5;
	width: 180px;
	font-size: 10px;
	text-align: center;
	position: relative;
	text-transform: none;
	padding: 10px;
}

@media screen and (min-width: 640px) {
  /* line 584, ../resources/css-scss/site.scss */
  .section.footer .menu--footer li {
    display: inline-block;
    border-right: 1px solid #ffffff;
    border-bottom: 0;
  }
  /* line 597, ../resources/css-scss/site.scss */
  .section.footer .menu--footer li > a {
    line-height: 1;
  }
  /* line 601, ../resources/css-scss/site.scss */
  .section.footer .menu--footer li:last-child {
    border-right: none;
  }
}

/*------------------------------------*\
    $GENERAL
\*------------------------------------*/
/* line 619, ../resources/css-scss/site.scss */
.color-white {
  color: #ffffff;
}

/* line 622, ../resources/css-scss/site.scss */
.color-orange {
  color: #f26432;
}
.ptop25 {
  padding-top:25px;
}
.pbottom25 {
  padding-bottom:25px;
}
.mtop40 {
  margin-top: 40px;
}
.padding0 {
  padding: 0;
}

@media screen and (max-width: 640px) {
  /* line 651, ../resources/css-scss/site.scss */
  .small-mtop200 {
    margin-top: 200px;
  }
}
@media screen and (min-width: 640px) {
  /* line 657, ../resources/css-scss/site.scss */
  .medium-mtop40-porcent {
    margin-top: 40%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 662, ../resources/css-scss/site.scss */
  .large-mtop30-porcent {
    margin-top: 25%;
  }
}
/* line 696, ../resources/css-scss/site.scss */
.relative {
  position: relative;
}

/* line 699, ../resources/css-scss/site.scss */
.index1 {
  z-index: 1;
}

/* line 703, ../resources/css-scss/site.scss */
.bg-image-real-local {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 430px;
}

/* line 710, ../resources/css-scss/site.scss */
.bg-white {
  background-color: #ffffff;
}
.fp-auto-height {
  margin-bottom:-20px;
}




